<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="band">
	<select id="getAll" resultType="band.model.Band">		
		select * from band
	</select>
	<select id="selectId" parameterType="java.lang.String" resultType="band.model.Band">		
		select * from band where id=#{id}
	</select>
	<select id="selectBand" parameterType="java.util.HashMap" resultType="band.model.Band">		
		select * from band where id=#{id} and pass=#{pass}
	</select>
	<insert id="inputBand" parameterType="band.model.Band">
		insert into band values(#{id},#{pass},#{email},#{phonenum1},#{phonenum2},
								#{phonenum3},#{paycheck},#{info},#{downcount},#{likes},#{amountcash},#{point},#{name})
	</insert>
	
	<update id="likeUp" parameterType="java.lang.String">
		update band set likes = likes +1 where id =#{owner }
	</update>
	
	<select id="getDesc" resultType="java.util.HashMap">
		select * from band order by likes desc
	</select>
	
	<select id="point" parameterType="java.lang.String" resultType="java.lang.Integer">
		select point from band where id =#{id}
	</select>
	
	<select id="selectPass" parameterType="java.lang.String" resultType="java.lang.String">		
		select pass from band where id=#{id}
	</select>
	
</mapper>