<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<select id="getAll" resultType="board.model.Board">		
		select * from board
	</select>
	<select id="selectNum" parameterType="java.lang.Integer" resultType="board.model.Board">		
		select * from board where num=#{num}
	</select>
	<update id="plusCount" parameterType="java.lang.Integer">
		update board set viewcount = viewcount+1 where num=#{num}
	</update>
	<insert id="insert" parameterType="board.model.Board">
   		insert into board values(board_seq.nextval,
                           #{comments},#{writer},#{subject},sysdate,#{viewcount},#{likes})
   	</insert>
   	<!-- review -->
   	<insert id="inReview" parameterType="board.model.Review">
   		insert into review values(#{boardnum},#{writer},sysdate,#{comments})
   	</insert>
   	<select id="getReview" parameterType="java.lang.Integer" resultType="board.model.Review">		
		select * from review where boardnum=#{num}
	</select>
</mapper>