<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="idpass">
<select id="bandid"  parameterType="java.util.HashMap" resultType="band.model.Band">		
		select id from band  where email=#{email} and phonenum1=#{phone1} and phonenum2=#{phone2} and phonenum3=#{phone3}
	</select>
<select id="memberid" parameterType="java.util.HashMap" resultType="band.model.Band">		
		select id from member  where email=#{email} and phonenum1=#{phone1} and phonenum2=#{phone2} and phonenum3=#{phone3}
	</select>
<select id="bandpass" parameterType="java.lang.String" resultType="java.lang.String">		
		select pass from band where id=#{id}
	</select>
<select id="memeberpass" parameterType="java.lang.String" resultType="java.lang.String">		
		select pass from member where id=#{id}
	</select>
</mapper>
